//@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

$theme-colors: (
  "primary": #850cc6,
  "danger": #ff4136
);

$enable-rounded: false;

$font-family-base:'Oswald', sans-serif;



#sidebar{
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: #000;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.btn{
  text-transform: uppercase;
}


.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout-warning {
    border-left-color: $warning;
    border-left-width: 20px;
}

.container{
  margin-left: 100px;
}


